/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

@import "colors";
@import "fonts";
@import "mixins";


.ie-lt-9 {
    .navbar-toggle{
        display: none;
    }
    .collapse{
        display: block;
    }
    .navbar .logo{
        padding: 0 15px;
    }
    .navbar-header,
    .navbar-nav{
        float: left;
        margin: 0;
    }
    .container{
        padding: 0;
        margin: 0;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding: 0;
        float: left;
    }
    .col-sm-8{
        width: 66.66666666666666%;
    }
    .col-lg-4,
    .col-sm-4{
        width: 33.33333333333333%;
    }
    .roll .back{display: none}
    body.node-type-page,
    body.page-node-add-entry{
        .container{
            padding: 0;
            margin: 0 10%;
        }
    }
    article.node.entry_list.node-entry{
        header{
            position: absolute;
            bottom: 0;
            left: 0;
            /*height: 100%;*/
            width: 100%;
            background: $colorHeaderBackground;
            padding: 20px 40px;
            z-index: 1;
        }
        header h2{
            margin: 0;
            font-size: 13px;
            display: none;
        }
        
        .field-name-body{
            display: none;
        }
        
        a{
            color: $colorNodeEntryHeaderLink;
        }
        a:hover,
        a:hover +  a header{
            color: $colorNodeEntryHeaderLinkHover;
        }
        a.node-entry-list-link{
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: url('../../images/6-9-clear.png') repeat transparent;
        }
        a.node-entry-list-link:hover{
            color: $colorNodeEntryHeaderLinkHover;
        }
        a.node-entry-list-link .node-entry-list-overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
        }
        a.node-entry-list-link:hover .node-entry-list-overlay{
            background: $colorNodeEntryOverlayHover;
        }
        a.node-entry-list-link:hover ~ .field-name-content-social-buttons,
        a:hover ~ .field-name-content-social-buttons,
        .field-name-content-social-buttons:hover{
            top: 0;
        }
    }
}