/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

@import "colors";
@import "fonts";
@import "mixins";


$colorsSocialIconsLink = #666;
$colorsSocialIconsLinkHover = #444;

.main-social-icons{
    float: right;
    margin-right: 10px;
    ul{
        list-style: none;
        padding: 10px 0;
        margin: 0;
        font-size: 17px;
        li{
            display: inline;
            padding: 10px 7px;
            
            
            &.facebook a:hover{
                color: $colorsSocialIconsLinkHoverFacebook;
            }
            &.twitter a:hover{
                color: $colorsSocialIconsLinkHoverTwitter;
            }
            &.pinterest a:hover{
                color: $colorsSocialIconsLinkHoverPinterest;
            }
            
            a{
                color: $colorsSocialIconsLink;
            }
        }
    }
}


.page-modal .block{display: none}

.footer-icon{
    position: relative;
    width: 150px;
    margin: 0 auto;
}
.footer-icon img{
    width: 100%;
    display: block;
    height: auto;
}


$colorEntriesCategoryMenuBackground = #888;
$colorEntriesCategoryMenuLabel = #666;
$colorEntriesCategoryMenuLink = #222;
$colorEntriesCategoryMenuLinkBackground = #e7e7e7;
$colorEntriesCategoryMenuLinkBackgroundHover = #f7f7f7;
#block-views-entries-menu-filter-block{
    text-align: center;
    background: $colorEntriesCategoryMenuLinkBackground;
    .view-id-entries_menu_filter{
        background: $colorEntriesCategoryMenuLinkBackground;
        text-align: center;
        display: inline;
        
        > *{
            display: inline-block;
            text-transform: uppercase;
        }
        
        .view-header{
            color: $colorEntriesCategoryMenuLabel;
            padding: 18px 0 0;
        }
        .view-content{
            .views-row{
                .views-field-name{
                    a{
                        color: $colorEntriesCategoryMenuLink;
                        padding: 18px 8px;
                        @include transition(all, .5s, ease);
                        position: relative;
                    }
                    a:hover,a:focus{
                        color: $colorCanonRed;
                    }
                    a.active{
                        color: $colorCanonRed;
                        font-weight: 600;
                    }
                    a.active:hover:after{
                        content: '\f00d';
                        font-family: FontAwesome;
                        color: $colorCanonRed;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
                
                padding: 18px 0;
                display: inline;
                *{
                    display: inline-block;
                }
            }
        }
    }
}

#block-canon-blocks-canon-blocks-submission-timer{
    position: absolute;
    left: 0;
    top: 0;
    
    #canon_blocks_submission_timer{
        .canon-blocks-submission-timer{
            color: #f7f7f7;
            padding: 12px 15px;
            background: $colorCanonRed;
            
            .label{
                padding: 0;
                color: #eee;
            }
        }
        
    }
}