@import 'css3-mixins.scss';


// panel support
div.panel-pane div.node,
.node{
  &.node-display-portfolio-small-card{
    background: #fff;
    border: 1px solid #DADADA;

    h1,h2,h3,h4,h5,h6{
      margin-top: 0;
      margin-bottom: 0;
      display: inline;
    }

    &.ds-2col{
      .group-left{
        width: 32px;
        border-right: 1px solid #DADADA;
      }
      .group-right{
        width: auto;
        line-height: 2.3em;
        overflow: hidden;
        margin-left: 8px;
      }
    }

    .field-name-field-media{
      background: #e7e7e7;
      border: 1px solid #ccc;
    }

    .field-type-taxonomy-term-reference{
      .field-items{
        .field-item{
          display: inline-block;
          margin-right: 4px;
          margin-bottom: 2px;
          margin-top: 2px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}
