/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

@import 'mixins';

article,
div{
  &.node{
    &.homepage_teaser_1,
    &.homepage_teaser_2,
    &.homepage_teaser_3{
      position: relative;
      padding: 0;
      .article-slide{
        height: 100%;
        padding: 0 0 100%;
      }
      h1,h2,h3{
        font-family: Oswald, Helvetica, Arial, sans-serif;
        margin-top: 0;
      }
      h1{
        font-size: 70px;
      }
      h2{
        font-size: 50px;
      }
      h3{
        font-size: 30px;
      }
      .field-name-field-background-media{
        position: absolute;
        top: 0 !important;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        @include transition(all, 0.5s, ease);
        .field-items, .field-item{
          height: 100%;
        }
        .background-media-empty{
          width: 100%;
          height: 800px;
          background: #aaa;
        }
        img{
          width: 100%;
          height: auto;
        }
        .background-image-background{
          height: 100vh;
          width: 100%;
          background-size: cover;
        }
      }
      .field-name-body{
        margin: 15px;
      }
      header{

      }
    }
    &.portfolio{
      img{
        width: 100%;
        height: auto;
      }
    }
    &.portfolio{
      position: relative;
      > a{
        position: absolute;
        top: 0;
        left; 0;
        width: 100%;
        height: 100%;
        z-index: 101;
        @include transition(all, 0.5s, ease);
        &:hover,
        &:focus,
        &:active{
          background: rgba(0,0,0,0.3);
          header{
            @include opacity(1);
            background: rgba(0,0,0,0.3);
            width: 100%;
            height: 100%;
          }
        }
      }
      &:hover{
        header{
          @include opacity(1);
          background: rgba(0,0,0,0.3);
          width: 100%;
          height: 100%;
        }
      }
      .field-name-body{display: none}
      .field-name-field-media{position: relative; z-index: 100}
      header{
        position: absolute;
        top: 0;
        left: 0;
        // width: 100%;
        // height: 100%;
        // background: rgba(255, 255, 255,0.5);
        @include transition(all, 0.5s, ease);
        @include opacity(0);
        z-index: 101;
      }
    }
  }
}

.tools{
  margin: 25px 0;
  .progress-bar-container{
    width: 100%;
    height: 10px;
    background: #bdc3c7;
    .progress-bar{
      height: 100%;
      background: #2980b9;
    }
  }
}

.animate{
  @include transition(all, 0.5s, ease);
}
