/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

@import 'mixins';

$defaultFontFamily = 'Open Sans', Helvetica, Arial, sans-serif;
$defaultFontColor = #424242;
$headsFontFamily = $defaultFontFamily;
$headsFontColor = #333;

body{font-family: $defaultFontFamily;color: $defaultFontColor;font-size: 18px}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: $headsFontFamily;color:$headsFontColor; margin: 8px 0}
h1, h2, .h1, .h2{text-transform: uppercase}

body .container{
  &.main-container,
  &.navbar,
  &.footer{
    max-width: none; width: 100%; padding: 0;
    > .row{
      margin-left: 0;
      margin-right: 0;

      $columns : 12;
      @for $i from 1 through $columns {
        > .col-xs-#{$i}
        > .col-sm-#{$i},
        > .col-md-#{$i},
        > .col-lg-#{$i},
        > .col-xl-#{$i}{ padding-left: 0; padding-right: 0; }
      }

    }
  }
}


.well{
    @include border-radius(0);
    @include box-shadow(0,0,0,0,false);
}
.navbar{
    @include border-radius(0);
    margin-bottom: 0;
}
