@import 'css3-mixins.scss';
@import 'animate.scss';

@include keyframes(slideInLeft) {
    from {
    opacity: 0;
    @include transform(translateX(-2000px));
  }
    to {
    @include transform(translateX(0));
  }
}

@include keyframes(slideInRight) {
    from {
    opacity: 0;
    @include transform(translateX(2000px));
  }
    to {
    @include transform(translateX(0));
  }
}

@include keyframes(slideOutLeft) {
    from {
    @include transform(translateX(0));
  }
    to {
    opacity: 0;
    @include transform(translateX(-2000px));
  }
}

@include keyframes(slideOutRight) {
    from {
    @include transform(translateX(0));
  }
    to {
    opacity: 0;
    @include transform(translateX(2000px));
  }
}

.theme-sglens{
  .view{
    &.view-id-lens_type_list{
        &.view-display-id-panel_pane_1{
            padding: 60px 0;
            background: #1D95D1;
            color: #EEE;

            // background: rgb(234, 232, 227);
            // background: #BDE6F4;

            // color: #53453D;

            .view-header{
                h1,h2,h3,h4,h5,h6{
                    color: #FFF;
                    margin-bottom: 45px;
                    // color: rgb(45, 68, 81);
                }
            }
            .view-header{
                text-align: center;
            }

            .well{
                color: #333;
                font-size: 1em;
            }
        }
    }

    &.view-id-banner_slides{
        .carousel{
            .carousel-inner{
                .active{
                    .banner-slide-image-text-inner{
                        .field-name-title{
                            @include slideInLeft();
                        }
                        .field-name-body{
                            @include slideInRight();
                        }
                    }
                    &.right{
                        .field-name-title{
                            @include slideOutLeft();
                        }
                        .field-name-body{
                            @include slideOutRight();
                        }
                    }
                    &.left{
                        .field-name-title{
                            @include slideOutRight();
                        }
                        .field-name-body{
                            @include slideOutLeft();
                        }
                    }
                }
                .banner-slide-image-text-inner{
                    .field-name-title{
                        @include slideOutRight();
                    }
                    .field-name-body{
                        @include slideOutLeft();
                    }
                }
            }

            .carousel-control{
                .icon-next,
                .icon-prev{
                    font-size: 3em;
                    margin-top: -43px;
                }
            }
        }
    }

  }
}
