.mmc-block-content-backtotop{
    display: none;
}

@media(max-width:767px){
    .mmc-block-content-backtotop{
        display: block;
        width: 100%;
        position: relative;
        top: 0;
        z-index: 999;
        overflow: hidden;
    }
    .mmc-block-content-backtotop-container{
        /*width: 98%;
        margin: 0 auto;*/
    }
    .mmc-block-content-backtotop a.button{
        display: block;
        width: 100%;
        text-align: center;
        background: #ffffff;
        color: #888;
        text-shadow: 0 1px 0px #fff;
        font-weight: bold;
        padding: 12px 0;
        margin: 0;
        border: 1px solid #E7E0E0;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
    }
    .mmc-block-content-backtotop a.button:hover{
        color: #333;
        text-decoration: none;
    }
}