#block-mark-malaysiancup-blocks-mmcb-main-social-buttons{
    position: absolute;
    z-index: 800;
    width: 500px;
    right: 0;
}
.mmc-block-social-buttons{
    /*position: absolute;
    top: 1050px;
    right: 10px;
    z-index: 901;*/
    float: right;
    /*margin-right: 20px;*/
}
.mmc-block-social-buttons .facebook-twitter .main-social-icons{
    top: 10px;
    height: 0;
    width: auto;
    position: relative;
}
.mmc-block-social-buttons .facebook-twitter .main-social-icons .icon{
    float: left;
    clear: both;
}
.mmc-block-social-buttons .facebook-twitter{
    width: 79px;
    width: 83px \9;
    margin-top: 0 !important;
}
.admin-menu .mmc-block-social-buttons{
    top: -100px;
}
.mmc-block-social-buttons ul.social-buttons-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.mmc-block-social-buttons ul.social-buttons-menu li{
    float: left;
    margin-top: 10px;
    margin-right: 7px;
}
.mmc-block-social-buttons ul.social-buttons-menu li a:hover,
.mmc-block-social-buttons ul.social-buttons-menu li a:active{
    text-decoration: none;
}
.mmc-block-social-buttons ul.social-buttons-menu li a .icon{
    background: url('images/socialbuttons.png') no-repeat;
    width: 46px;
    height: 46px;
    display: block;
}
.mmc-block-social-buttons ul.social-buttons-menu li#social-button-menu-web a .icon{
    background-position: -126px -10px;
    -webkit-transition: background-position 200ms ease;
    -moz-transition: background-position 200ms ease;
    -o-transition: background-position 200ms ease;
}
.mmc-block-social-buttons ul.social-buttons-menu li#social-button-menu-web a:hover .icon{
    background-position: -126px -63px;
}
.mmc-block-social-buttons ul.social-buttons-menu li#social-button-menu-fb a .icon{
    background-position: -68px -10px;
    -webkit-transition: background-position 200ms ease;
    -moz-transition: background-position 200ms ease;
    -o-transition: background-position 200ms ease;
}
.mmc-block-social-buttons ul.social-buttons-menu li#social-button-menu-fb a:hover .icon{
    background-position: -68px -63px;
}
.mmc-block-social-buttons ul.social-buttons-menu li#social-button-menu-twitter a .icon{
    background-position: -12px -10px;
    -webkit-transition: background-position 200ms ease;
    -moz-transition: background-position 200ms ease;
    -o-transition: background-position 200ms ease;
}
.mmc-block-social-buttons ul.social-buttons-menu li#social-button-menu-twitter a:hover .icon{
    background-position: -12px -63px;
}

@media (max-width: 767px){
    .mmc-block-social-buttons{
        /*top: 1170px;*/
        width: 100%;
        text-align: center;
        margin: -65px 0 0;
        display: none;
    }
    .mmc-block-social-buttons ul.social-buttons-menu li{
        float: none;
        display: inline-block;
    }
}
@media (max-width: 1024px){
    .mmc-block-social-buttons{
        display: none;
    }
}