.mmcb-calendar-full-menu-button-container{
    background: #EEE1DF;
    border-bottom: 1px solid #eea7a2;
    padding: 5px;
}
.mmcb-calendar-full-menu-button-container a{
    color: #555;
    text-transform: uppercase;
}
.mmcb-calendar-full-menu-button-container a:hover{
    color: #888;
    text-decoration: none;
}
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-month-container{
    float: left;
}
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-month-container .month-label{
    font-size: 17px;
    line-height: 1;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-day-container{
    float: left;
    padding: 5px;
    border-left: 1px solid #DAC1BD;
}
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-day-container:first-of-type{
    border: none;
}

.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-day-container .day-label{
    font-size: 14px;
    line-height: 1;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-day-container .day-label:hover + .day-times,
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-day-container .day-times:hover{
    display: block;
}
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-day-container .day-times{
    display: none;
    position: absolute;
    background: #EEE1DF;
    padding: 0 5px;
    border-left: 1px solid #DAC1BD;
    border-bottom: 1px solid #DAC1BD;
    border-right: 1px solid #DAC1BD;
    margin-left: -6px;
    max-width: 280px;
    z-index: 999;
    box-shadow: 0px 6px 6px rgba(0,0,0, .3);
}
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-time-container{
    border-bottom: 1px dotted #DAC1BD;
    padding: 5px 0;
}
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-time-container .time-time,
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-time-container .time-title{
    font-size: 12px;
}
.mmcb-calendar-full-menu-button-container .mmcb-calendar-full-menu-time-container:last-of-type{
    border: none;
}