.mmcb-calendar-menu-button-container{
    position: absolute;
    z-index: 992;
    background: #E01F30;
    padding: 7px;
    font-size: 13px;
    right: 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    top: auto;
    /*text-transform: uppercase;
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.86);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.86);*/
}
.mmcb-calendar-menu-button-container input.datepicker{
    display: none;
}
.mmcb-calendar-menu-button-container .datepicker-container{
    position: absolute;
    right: -78px;
    top: 42px;
    width: 300px;
    height: 0px;
    overflow: hidden;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker,
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker .dp_header .dp_hover,
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker td.dp_selected,
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker .dp_footer .dp_hover, .Zebra_DatePicker td.dp_hover{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker .dp_header .dp_hover,
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker td.dp_hover{
    background: #ffffff !important;
    color: #E01F30 !important;
}
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker{
    border: 1px solid #E01F30;
    background: #E01F30;
}
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker *{
    color: #fff;
    font-weight: bold;
}
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker td.dp_disabled{
    color: #f79991;
    font-weight: normal;
}
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker td.dp_not_in_month,
.mmcb-calendar-menu-button-container .datepicker-container .Zebra_DatePicker td.dp_weekend_disabled{
    color: #f76f6a;
    font-weight: normal;
}
.mmcb-calendar-menu-button{
    color: #f7f7f7;
    text-decoration: none;
}
.mmcb-calendar-menu-button:hover,
.mmcb-calendar-menu-button:active,
.mmcb-calendar-menu-button:focus{
    text-decoration: none;
    color: #f7f7f7;
}
.mmcb-calendar-menu-button .mmcb-calendar-menu-icon{
    background: url('images/calendar.png') no-repeat center;
    width: 32px;
    height: 32px;
    position: absolute;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -o-transition: all 800ms ease;
}
.mmcb-calendar-menu-button-container:hover .datepicker-container,
.mmcb-calendar-menu-button-container:active .datepicker-container{
    zoom: 1;
    filter: alpha(opacity=1);
    opacity: 1;
    height: auto;
    overflow: visible;
}
.mmcb-calendar-menu-button:hover .mmcb-calendar-menu-icon,
.mmcb-calendar-menu-button-container:hover .mmcb-calendar-menu-icon,
.mmcb-calendar-menu-button:active .mmcb-calendar-menu-icon,
.mmcb-calendar-menu-button-container:active .mmcb-calendar-menu-icon{
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}
.mmcb-calendar-menu-button:hover .mmcb-calendar-menu-date-wrapper,
.mmcb-calendar-menu-button-container:hover .mmcb-calendar-menu-date-wrapper,
.mmcb-calendar-menu-button:active .mmcb-calendar-menu-date-wrapper,
.mmcb-calendar-menu-button-container:active .mmcb-calendar-menu-date-wrapper{
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}
.mmcb-calendar-menu-button .mmcb-calendar-menu-date-wrapper{
    width: 32px;
    height: 32px;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -o-transition: all 800ms ease;
}
.mmcb-calendar-menu-button .month{
    font-size: 11px;
}
.mmcb-calendar-menu-button .day{
    font-weight: bold;
    font-size: 16px;
    margin-top: -5px;
}
.mmcb-calendar-menu-button .time{
    font-size: 9px;
    display: none;
}

@media (max-width: 365px){
    .mmcb-calendar-menu-button-container{
        top: 15px;
    }
}
@media (min-width: 366px) and (max-width: 767px){
    .mmcb-calendar-menu-button-container{
        top: 2px;
        padding: 5px;
    }
}