/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

@import "colors";
@import "fonts";
@import "mixins";

.view-id-entries_approved{
    .entry-back-to-top{
        position: fixed;
        bottom: 2px;
        right: 10px;
        z-index: 99;
        font-size: 40px;
        @include opacity(100);
        @include transition(all, 1s, ease);
        a{
            color: #fff;
            text-shadow: 0 0 5px #000;
            &:hover{
                color: $colorCanonRed;
            }
        }
    }
    .entry-back-to-top.hide{
        @include opacity(0);
    }
    .pager{
        margin: 0;
        padding: 0;
        li{
            a{
                margin: 20px 0 14px;
            }
        }
    }
}

.view-empty{
    margin: 1.5em 0;
    width: 100%;
    text-align: center;
    font-size: 80px;
}