@import "colors";
@import "fonts";
@import "mixins";


body{font-family: $fontBodyText;background: $colorBackgroundBody;font-weight: 300;overflow-x: hidden}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: $fontHeadlineText;text-transform: uppercase;font-weight: 600;color: $colorHeadlineText}
a{color: $colorHightlightText}
a:hover,
a:focus,
a:active{color: $colorInvertHightlightText}

.navbar{
    min-height: 40px;
    &.navbar-default{
        background: $colorBackgroundMainNavbar;
        border: none;
        .navbar-collapse{
            position: relative;
        }
        .navbar-toggle{
            border: none;
            margin-top: 6px;
            .icon-bar{background: $colorHightlightText}
            &:hover, &:focus{
                background: none;
                .icon-bar{background: $colorInvertHightlightText}
            }
        }
    }
    >.container .navbar-brand{font-size: 20px;color: #e74c3c}
}
.navbar-nav{
    position: relative;
    z-index: 5;
    > li>a{text-transform: uppercase;font-size: 14px;padding: 11px 15px}
}
.navbar-brand{padding: 11px 15px}

.carousel-control.left,
.carousel-control.right{background: none}
.carousel-control .control-item{top: 50%;bottom: 50%;position: absolute}

video {
  width: 100%    !important;
  height: auto   !important;
}
.media-youtube-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.media-youtube-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
form .form-item{margin: 1em 0}

.btn{border-radius: 0;-moz-border-radius: 0; -webkit-border-radius: 0;text-transform: uppercase}
.form-control{border-radius: 0;-moz-border-radius: 0; -webkit-border-radius: 0}
.button-icon{margin-right: 15px}

body.front{
    .main-container.container{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        .row{
            margin-right: 0;
            margin-left: 0;
        }
        .col-sm-12{
            padding-left: 0;
            padding-right: 0;
        }
    }
}


.pace{
    height: 12rem;
    width: 12rem;
    .pace-progress {
        position: fixed;
        z-index: 2000;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 12rem;
        width: 12rem !important;
        line-height: 12rem;
        font-size: 4rem;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background: $colorHightlightText;
        color: #fff;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 100;
        text-align: center;
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        -o-animation: none;
        animation: none;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
}

.block-mqcristobal-gse,
.pane-mqcristobal-gse-mqc-gse-search-box-block{
    fieldset{
	position: relative;
	.form-submit{
	    position: absolute;
	    right: 15px;
	    top: 29px;
	}
    }
}
.page-search{
    .gsc-control-cse .gsc-table-result{
	font-family: $fontBodyText;
    }
    .gs-web-image-box, .gs-promotion-image-box{
	width: 100px;
	margin-right: 15px;
    }
    .gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image{
	max-width: 100px;
	max-height: 100px;
    }
    .gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title *{
	font-size: 20px;
    }
}


* {max-width: 100%} /* the usual RWD shebang */
.video-js {
    width: auto !important; /* override the plugin's inline dims to let vids scale fluidly */
    height: auto !important;
}
.video-js video {position: relative !important;}
 /* The video should expand to force the height of the containing div.
 One in-flow element is good. As long as everything else in the container
 div stays `position: absolute` we're okay */
.video-js .vjs-big-play-button {
    // top: 50%; errrr, why isn't the play button centered in the default skin? :)
    // left: 50%;
    // margin:-4em 0 0 -6em; /* the old negative margin trick */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;-moz-border-radius: 0; -webkit-border-radius: 0;
    background: none;
    border: none;
    &:before{
        font-size: 60px;
        text-shadow: .05em .05em 0 #333;
    }
}
