@import 'css3-mixins.scss';

#block-panels-mini-main-footer{
  h2{
    font-weight: 100;
    font-size: 36px;
  }
  @media (max-width: 1024px){
    h2{
      font-size: 30px;
    }
  }
  @media (max-width: 768px){
    h2{
      font-size: 26px;
    }
  }
  .nav{
    >li{
      >a{
        border-bottom: 1px solid #333;
        @include transition(all, .2s);
        &:hover,
        &:focus,
        &:active{
          background: #444;
        }
      }
    }
  }
  .pane-vhinandrich-blocks-vr-footer{
    margin-top: 1.8em;
  }
}
