@import '../css3-mixins.scss';

.theme-sglens{
  &.color-scheme-eyesight_beige{
    .navbar-default{
      background: #FFFFFF;
      border: none;
      @include box-shadow(0, 0, 4px, rgba(0,0,0,.2));

      .navbar-nav > li > a{
        color: #455262;
        position: relative;
        &:after{
          content: ' ';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 5px;
          width: 0;
          background: none;
          @include transition(all, 0.4s, ease);
        }
        &:hover,
        &:focus{
          background: none;
          &:after{
            background: #BECC7E;
            width: 100%;
          }
        }
      }

      .navbar-nav > .active > a,
      .navbar-nav > .active > a:hover,
      .navbar-nav > .active > a:focus{
        background: none;
        color: #455262;
        &:after{
          background: #DDC58A;
          width: 100%;
        }
      }

      .navbar-toggle{
        &:hover,
        &:focus{
          background: none;
          .icon-bar{
            background: #92A0A7;
          }
        }

        .icon-bar{
          background: #455262;
        }
      }
    }


    &:not(.node-type-contact-form-display) div.panel-pane div.node.view-mode-full.node-contact-form-display>.row{
      background: #3C392F;
    }

  }
}
