/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/*
 *nav-tabs
 */
.nav.nav-tabs{
    margin-bottom: 0;
}
.nav.nav-tabs + form{
    background: white;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

body.page-user .main-container .dropdown-menu,
body.page-node-add .main-container .dropdown-menu,
body.page-node-edit .main-container .dropdown-menu, 
body.page-admin-content-termform-add .main-container .dropdown-menu,
body.page-content-listing .main-container .dropdown-menu{
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    float: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: transparent;
    border: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
body.page-user .main-container .dropdown-menu a,
body.page-node-add .main-container .dropdown-menu a,
body.page-node-edit .main-container .dropdown-menu a, 
body.page-admin-content-termform-add .main-container .dropdown-menu a,
body.page-content-listing .main-container .dropdown-menu a{
    color: #0075AF;
}
body.page-user .main-container .dropdown-menu .active a,
body.page-node-add .main-container .dropdown-menu .active a,
body.page-node-edit .main-container .dropdown-menu .active a, 
body.page-admin-content-termform-add .main-container .active .dropdown-menu a,
body.page-content-listing .main-container .dropdown-menu .active a,
body.page-user .main-container .dropdown-menu a:hover,
body.page-node-add .main-container .dropdown-menu a:hover,
body.page-node-edit .main-container .dropdown-menu a:hover, 
body.page-admin-content-termform-add .main-container .dropdown-menu a:hover,
body.page-content-listing .main-container .dropdown-menu a:hover{
    color: #fff;
}