@media(max-width:768px){
    body{
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    .views-row.views-row-1 article header h2{
        word-spacing: 99999px;
    }
}