/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/*
 *node
 */


body.page-node-add .main-container{
    margin: 0 auto;
    padding-top: 30px;
    width: 98%;
}

#edit-field-time-und-0 legend{
    display: none;
}

select{
    height: 32px;
}

/*user pages*/
body.page-user .user-page-content-container{
    background: white;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
body.page-user .user-page-content-container .greeting .username{
    font-style: italic;
    color: #444;
}
body.page-user .user-page-content-container .highlight{
    font-style: italic;
    color: #444;
}

body.page-admin-content-termform-add,
body.page-content-listing{
    padding-top: 0;
}
body.page-user .main-container,
body.page-node-edit .main-container, 
body.page-admin-content-termform-add .main-container,
body.page-content-listing .main-container{
    margin-top: 50px;
    width: 96%;
}
body.page-node-add dl.node-type-list dt{
    font-size: 18px;
    line-height: 20px;
    padding: 10px 0;
    border-bottom: 1px dotted #888;
}
body.page-node-add dl.node-type-list dd{
    display: none;
}
body.page-node-add .page-header{
    display: block;
}

body.page-admin-content-termform-add .field-name-field-date-time fieldset legend{
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eeeeee;
    font-size: 38.5px;
    line-height: 1.25em;
    font-weight: bold;
}

body.page-admin-content-termform-add .page-header{
    display: none;
}
body.page-admin-content-termform-add .form-item-name,
body.page-admin-content-termform-add .text-format-wrapper,
#edit-relations{
    visibility: hidden;
    height: 0px;
}


body.page-node-add .field-name-body,
body.page-node-edit .field-name-body,
body.page-node-add .field-name-field-block-quote,
body.page-node-edit .field-name-field-block-quote{
    margin: 0;
    color: #000;
}
body.page-node-add .field-name-body label,
body.page-node-edit .field-name-body label,
body.page-node-add .field-name-field-block-quote label,
body.page-node-edit .field-name-field-block-quote label{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
}

body.page-content-listing #views-form-editor-content-listing-page #edit-select legend{
    display: none;
}
body.page-content-listing #views-form-editor-content-listing-page #edit-select .form-item-operation{
    float: left;
    padding: .5em 1em 0 0
}
body.page-content-listing #edit-submit--2,
body.page-content-listing #edit-submit-editor-content-listing{
    padding: 5px 12px;
}
body.page-content-listing #edit-submit-editor-content-listing{
    margin-top: 1.7em;
}
body.page-content-listing #edit-submit--2{
    margin-top: .5em;
}

.page-form-desc{
    font-size: 15px;
    clear: both;
    display: block;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 19px;
    color: #888;
}