/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
@media(max-width: 1193px){
    .navbar .brand{
        font-size: 45px;
    }
}
@media(max-width: 1165px){
    .navbar .brand{
        font-size: 34px;
    }
}
@media(max-width: 1000px){
    .navbar .brand{
        font-size: 25px;
    }
}
@media(max-width: 1160px){
    #site-name{
        min-width: inherit;
        width: 70%;
        margin-top: 10px;
    }
}
@media(max-width: 1024px){
    #site-name{
        width: 64%;
    }
}
@media(max-width: 800px){
    .header-website-logo{
        display: none;
    }
    #site-name{
        margin-top: 0;
        position: relative;
        left: 1%;
        top: 3px;
    }
    .navbar .logo img{
        top: -0.3em;
        left: 11px;
    }
}

@media (max-width: 767px){
    body {
        position: relative;
        padding: 0;
    }
    .navbar{
        /*overflow: hidden;*/
    }
    .footer{
        position: relative;
    }
    .navbar .logo img{
        /*top: -3px;*/
    }
    #header-inside-right section.block{
        float: none;
    }
    #site-name{
        width: 93%;
        min-width: inherit;
        margin-bottom: 0;
    }
    /*.header-main-social-icons {
        top: -10px;
    }
    .navbar .container{
        padding-bottom: 20px;
    }*/
}