/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/*
 *user login page
 */
body.page-user{
    background: url('../images/p5.png');
}
.page-user .page-header{
    display: none;
}
.page-user .footer.container{
    display: none;
}
#user-login{
    max-width: 350px;
    background: #fff;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
    background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
    background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
    background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
    background: -o-linear-gradient(top,#fff 0,#ddd 100%);
    background: linear-gradient(top,#fff 0,#ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 10% auto 0;
}
/*#user-login input[type="text"],
#user-login input[type="password"]{
    width: 95%;
}*/
#user-login > div{
    width: 95%;
    margin: 10px auto;
}
#user-login .control-group{
    margin-bottom: 0;
}
#user-login .form-item-remember-me{
    float: left;
    width: 79%;
}
#user-login .form-item-remember-me label{
    color: #A7A7A7;
    text-shadow: 0 1px 0px #fff;
}