.content-social-buttons-container{
  background: #bdc3c7;
  height: 100%;
  box-shadow: inset 0 0 40px 0px #2c3e50;
  -webkit-box-shadow: inset 0 0 40px 0px #2c3e50;
  -moz-box-shadow: inset 0 0 40px 0px #2c3e50;
  color: #7f8c8d
}
.content-social-buttons-container .content-social-buttons-inner{width: 90%;margin: 0 auto}
.content-social-buttons-container .content-social-buttons-inner .field-item .field-name-content-social-button{margin-top: .3em}
.content-social-buttons-container .content-social-buttons-inner h2 > span{color: #ecf0f1}

.row-offcanvas {
  position: relative;
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;
}
.row-offcanvas .navbar-fixed-top{
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.row-offcanvas-right {
  right: 0;
}

.row-offcanvas-left {
  left: 0;
}

.row-offcanvas-right
.sidebar-offcanvas {
  right: -250px; /* 6 columns */
}

.row-offcanvas-left
.sidebar-offcanvas {
  left: -250px; /* 6 columns */
}

.row-offcanvas-right.active {
  right: 250px; /* 6 columns */
}
.row-offcanvas-right.active .navbar-fixed-top{
  right: 250px;
  left: -250px;
}

.row-offcanvas-left.active {
  left: 250px; /* 6 columns */
}

.row-offcanvas-right.active
.sidebar-offcanvas {
  right: 0; /* 6 columns */
}

.sidebar-offcanvas {
  position: fixed;
  top: 0;
  width: 250px; /* 6 columns */
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;
}