.content-social-buttons-container{
  background: #bdc3c7;
  height: 100%;
  box-shadow: inset 0 0 40px 0px #95a5a6;
  -webkit-box-shadow: inset 0 0 40px 0px #95a5a6;
  -moz-box-shadow: inset 0 0 40px 0px #95a5a6;
  color: #7f8c8d
}
.content-social-buttons-container .content-social-buttons-inner{}
.content-social-buttons-container .content-social-buttons-inner .content-social-buttons-wrapper > div{width: 90%; margin: 1em auto}
.content-social-buttons-container .content-social-buttons-inner .field-item .field-name-content-social-button{margin-top: .3em}
.content-social-buttons-container .content-social-buttons-inner .field-item{float: left;margin: 0 .3em}
.content-social-buttons-container .content-social-buttons-inner .field-item:first-of-type{margin-left: 0;clear: left}
.content-social-buttons-container .content-social-buttons-inner .field-item:last-of-type{margin-right: 0;clear: right}
.content-social-buttons-container .content-social-buttons-inner .content-social-buttons-wrapper h2 > span{color: #ecf0f1}
.content-social-buttons-container .content-social-buttons-inner .content-social-buttons-wrapper > h2 {font-size: 28pt;background: #7f8c8d;margin: 0;padding: .7em .3em;color: #95a5a6}

.content-social-buttons-container .content-social-buttons-inner .content-social-buttons-wrapper > div.content-social-buttons-close{
  position: fixed;
  right: 250px;
  left: -250px;
  top: 0;
  width: 100%;
  height: 100%;
}

.row-offcanvas {
  position: relative;
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;
}
.row-offcanvas .navbar-fixed-top{
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.row-offcanvas-right {
  right: 0;
}

.row-offcanvas-left {
  left: 0;
}

.row-offcanvas-right
.sidebar-offcanvas {
  right: -250px; /* 6 columns */
}

.row-offcanvas-left
.sidebar-offcanvas {
  left: -250px; /* 6 columns */
}

.row-offcanvas-right.active {
  right: 250px; /* 6 columns */
}
.row-offcanvas-right.active .navbar-fixed-top{
  right: 250px;
  left: -250px;
}

.row-offcanvas-left.active {
  left: 250px; /* 6 columns */
}

.row-offcanvas-right.active
.sidebar-offcanvas {
  right: 0; /* 6 columns */
}

.sidebar-offcanvas {
  position: fixed;
  top: 0;
  width: 250px; /* 6 columns */
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;
}