/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

article.node.node-page.main_front{
    text-align: center;
    padding-top: 20%;
    padding-bottom: 30%;
}
article.node.node-page.main_front header h1{
    font-family: "Cinzel", serif;
    font-size: 83px;
    font-weight: normal;
    margin: 0 0 .1em;
    padding: 0;
    border-bottom: 1px solid #d8d8d8;
    width: auto;
    display: inline-block;
    clear: both;
}
article.node.node-page.main_front .field-name-body{
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Source Code Pro", sans-serif;
    color: #424242;
    font-weight: 200;
}