/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

article.node.node-video.front_nodes .field-name-field-video{
    /*max-width: 640px;
    margin: 0 auto;
    width: 93%;*/
}
article.node.node-video.front_nodes .field-name-field-video .field-items{
    width: 97%;
    margin: 0 auto;
}
article.node.node-video.front_nodes .field-name-field-video .field-items .field-item:first-of-type{margin: 0}
article.node.node-video.front_nodes .field-name-field-video .field-items .field-item{
    margin: 1em 0;
}
article.node.node-video.front_nodes .field-name-body .field-items{
    width: 97%;
    margin: 0 auto;
}
article.node.node-video.front_nodes .field-name-body .field-items .field-item{
    margin: 0 2em;
}
article.node.node-video.front_nodes .media-youtube-video,
article.node.node-video.front_nodes .media-vimeo-outer-wrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0 !important;
    width: auto !important;
}
article.node.node-video.front_nodes .media-youtube-video object,
article.node.node-video.front_nodes .media-youtube-video embed,
article.node.node-video.front_nodes .media-youtube-video iframe,
article.node.node-video.front_nodes .media-vimeo-outer-wrapper object,
article.node.node-video.front_nodes .media-vimeo-outer-wrapper embed,
article.node.node-video.front_nodes .media-vimeo-outer-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}