/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

article.node.node-video.front_nodes .field-name-field-video{
    /*max-width: 640px;
    margin: 0 auto;
    width: 93%;*/
}
article.node.node-video.front_nodes .field-name-field-video .field-items{
    width: 97%;
    margin: 0 auto;
}
article.node.node-video.front_nodes .field-name-field-video .field-items .field-item:first-of-type{margin: 0}
article.node.node-video.front_nodes .field-name-field-video .field-items .field-item{
    margin: 1em 0;
}
article.node.node-video.front_nodes .field-name-body .field-items{
    width: 97%;
    margin: 0 auto;
}
article.node.node-video.front_nodes .field-name-body .field-items .field-item{
    margin: 0 2em;
}
article.node.node-video.front_nodes .media-youtube-video,
article.node.node-video.front_nodes .media-vimeo-outer-wrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0 !important;
    width: auto !important;
    z-index: 3;
}
article.node.node-video.front_nodes .media-youtube-video object,
article.node.node-video.front_nodes .media-youtube-video embed,
article.node.node-video.front_nodes .media-youtube-video iframe,
article.node.node-video.front_nodes .media-vimeo-outer-wrapper object,
article.node.node-video.front_nodes .media-vimeo-outer-wrapper embed,
article.node.node-video.front_nodes .media-vimeo-outer-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

article.node.node-photo.front_nodes{max-width: none;width: 100%;padding: 0;overflow: hidden;position: relative}
article.node.node-photo.front_nodes .prenuptial-photos-container{
    position: relative;
}
article.node.node-photo.front_nodes .photos-container header{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
}
article.node.node-photo.front_nodes .photos-container header .photo-wrapper-right{height: 100%;background: rgba(0,0,0,.4); color: #fff;overflow: hidden}
article.node.node-photo.front_nodes .photos-container header .photo-wrapper-right .photo-wrapper-right-inner{width: 90%; margin: 0 auto;overflow: hidden}
article.node.node-photo.front_nodes .photos-container header .photo-wrapper-right .photo-wrapper-right-inner h1{text-align: left;margin: 0;padding: 1.2em 0 0}
article.node.node-photo.front_nodes .photos-container .scene{width: 200%;left: -20%;}
article.node.node-photo.front_nodes .photos-container .field-name-field-photo{width: 100%;position: relative}
article.node.node-photo.front_nodes .photos-container .field-name-field-photo img{
    width: 100%;
    height: auto;
}
article.node.node-photo.front_nodes.more-than-one .photos-container header{height: auto;margin-top: 5.8em}
article.node.node-photo.front_nodes.more-than-one .photos-container header h1,
article.node.node-photo.front_nodes.more-than-one .photos-container header .field-name-body{display: inline;}
article.node.node-photo.front_nodes.more-than-one .photos-container header{text-align: center;color: #fff;text-shadow: 1px 1px 0px #000}
article.node.node-photo.front_nodes.more-than-one .photos-container header a{color: #e74c3c; text-shadow: 1px 1px 0px #fff;}
article.node.node-photo.front_nodes.more-than-one .photos-container header a:hover{text-decoration: none;color: #c0392b}
article.node.node-photo.front_nodes.more-than-one .photos-container .field-name-field-photo .field-item{width: 15%;position: relative;float: left;cursor: pointer}
article.node.node-photo.front_nodes.more-than-one .photos-container .field-name-field-photo .field-item:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(78, 77, 41, 0.29);
    content: ' ';
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
article.node.node-photo.front_nodes.more-than-one .photos-container .field-name-field-photo .field-item:hover:before{
    background: transparent;
}